<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeightTraining.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B3345A141F2623DD00C70675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3345A301F2623DD00C70675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3345A3B1F2623DD00C70675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
